 /* Style the navigation menu */
 
 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;; 
    line-height: 25px;
    

    
 }
 .topnav {
    overflow: hidden;
    background-color: #fafafa;
    position: relative;
    
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #ffffff;
    display: flex;
    position: left ;
    right: 0;
    top: 0;
    box-shadow: darkgrey 0px 2px 5px;

  }

  .main {
      display: flex;
      width: 100vw;
      height: 100%;
      flex-direction: column;
      align-items: center;

  }

  .picture {
      background-image: url(media/pictures/Profile.png);
      width: 200px;
      height: 200px;
      background-size: cover;
      border-radius: 145px;
      margin-top: 60px;
      margin-bottom: 20px;
  }
  .title, .text {
      margin: 15px;
      text-align: center;

  }

  .title {
    text-align: center;

  }
.text {
  margin-left: 40px;
  margin-right: 40px;
}
  h1 {
      font-size: 30px;
  }
  
  p {
      margin-top: 20px;

  }

  .icons {

    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 15px;
    margin-top: 40px;

    

  }
#icons {
  margin: 20px;
}
  .icons i:hover {
text-shadow: darkgrey 0px 2px 5px;
-webkit-transform: scale(1.2);


  }

  