
 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 35px;
    background-color: #0F1923;
 }

 @font-face {
    font-family: Ailerons;
    src: url(fonts/Ailerons.otf);
  }



 



/* TITLE and body  */

                                               
                                                  .main  {
                                                      display: flex;
                                                      flex-direction: column;
                                                  justify-content: center;

                                                  }
                                                  .content {
                                                    margin-left: 15px;
                                                    margin-right: 15px;
                                                  }

                                                  .sidemenu {
                                                    display: none;
                                                  }
                                               

.cover {  
    background-image: url(media/pictures/matcher_portada.png);
    background-size: contain;
      width: 100%;
      height: 60vh;
      z-index: 5;


}

.header {
display: flex;
justify-content: center;
flex-direction: column; 
align-items: flex-end;
background-size: cover;
}

.video img {
width: 100%;
}


.subtitle {
  width: 100%;
  height: 37px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 47px;
  margin-bottom: 30px;

}

.section  {
    font-family: 'Montserrat', sans-serif;
}
#research {


}

.tech {
display: flex;
justify-content: space-around;
margin: 40px;
margin-bottom: 100px;
}
.tech img {
height: 10%;
width: 20%;
}
p, li {
font-size: 20px;
} 


ul {
  margin-top: 20px;
}

li {
  margin: 15px;
  list-style: square;
}
img {
size: 50%;
}

figcaption {
text-align: center;
}

#topText {
   margin-bottom: 10px;
   font-size: 10px;
   text-align: center;
}


body {	
  background-color: #fafafa;
}

h2, p, li {
   color: #fafafa;
  
}
/* img {
   border-radius: 4px;
} */

.gallery img {
  width: 100%;
  margin-top: 10px;
}
.gallery2 img {
  width: 100%;
}












 @media screen and (min-width: 500px) {


 /* TOP MENU */
                                                  /* Style the navigation menu */
                                                  .topnav {
                                                      overflow: hidden;
                                                      background-color: rgb(54, 54, 54);
                                                      position: fixed;
                                                      z-index: 10;
                                                      top: 0;
                                                      width: 100%;
                                                    
                                                      
                                                    }
                                                    
                                                    /* Hide the links inside the navigation menu (except for logo/home) */
                                                    .topnav #myLinks {
                                                      display: none;
                                                    }
                                                    
                                                    /* Style navigation menu links */
                                                    .topnav a {
                                                      color: white;
                                                      text-decoration: none;
                                                      font-size: 17px;
                                                      display: flex;
                                                    }
                                                    
                                                    /* Style the hamburger menu */
                                                    .topnav a.icon {
                                                      display: block;
                                                      position: left ;
                                                      width: 100%;
                                                      right: 0;
                                                      top: 0;
                                                    }




/* TITLE and body  */

                                                    .title {
                                                        font-size: 30px;
                                                        font-weight: medium;
                                                        text-align: left;
                                                        color: #303030;
                                                        margin-left: 15px;
                                                    }
                                               
                                                    .main  {
                                                        display: flex;
                                                        flex-direction: column;
                                                    justify-content: center;

                                                    }
                                                    .content {
                                                      margin-left: 15px;
                                                      margin-right: 15px;
                                                    }

                                                    .sidemenu {
                                                      display: none;
                                                    }
                                                    .cover {
                                                      width: 100%;

                                                    }



.header {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: flex-start;
  background-size: cover;

}

.video img {
  width: 70%;
}


.subtitle {
    width: 100%;
    height: 37px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 47px;
    margin-bottom: 10px;

}

.tech {
  display: flex;
justify-content: space-around;
margin: 40px;
margin-bottom: 100px;
}
.tech img {
height: 10%;
width: 10%;
}
p, li {
  font-size: 20px;
}


ul {
    margin-top: 20px;
}

li {
    margin: 15px;
    list-style: square;
}
img {
  size: 50%;
}

.myslides {
  width: 100%;
}

.section div {
    margin-bottom: 50px;
}
.gallery {

background-image: url(media/pictures/Matcher\ -\ \ Context+.png);
background-size: cover;
width: 70vw;
height: 55vh;

}

.gallery2 {

    background-image: url(media/pictures/matcher\ -\ research1.png);
    background-size: cover;
    width: 69vw;
    height: 60vh;
    
    }
    
.gallery3 {

        background-image: url(media/pictures/matcher\ research2.png);
        background-size: cover;
        width: 61vw;
        height: 52vh;
        
        }

 .gallery4 {

            background-image: url(media/pictures/matcher\ user\ persona.png);
            background-size: cover;
            width: 64vw;
            height: 52vh;
            margin-top: 200px;
            
            }

.gallery5 {

            background-image: url(media/pictures/matcher\ goals.png);
            background-size: cover;
            width: 55vw;
            height: 52vh;
            margin-top: 200px;

}

.gallery6 {

    background-image: url(media/pictures/matcher\ mood.png);
    background-size: cover;
    width: 63vw;
    height: 60vh;
    margin-top: 200px;

}

.gallery6 {

    background-image: url(media/pictures/matcher\ wireframes.png);
    background-size: cover;
    width: 60vw;
    height: 50vh;
    margin-top: 200px;

}



.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block; 

}
figcaption {
  margin-top: 10px;
  text-align: center;
}
.gallery2 {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(1, 30vw);
  grid-gap: 10px; 
  margin-top: 100px;
  margin-bottom: 0px;
}


.gallery__img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 

}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}



 .video:hover {
     box-shadow: white 0px 2px 5px;
 }

 #topText {
     margin-bottom: 10px;
     font-size: 10px;
     text-align: center;
 }




 h2, p, li {
     color: #fafafa;
    
 }

 h1 {
    color: #FF4655;
    font-family: Ailerons;
    src: url(fonts/Ailerons.otf);
    font-size: 50px;

 }

 #intro #matcher {
    color: #FF4655;
    font-family: Ailerons;
    src: url(fonts/Ailerons.otf);
    font-size: 50px;

 }
 /* img {
     border-radius: 4px;
 } */

@media screen and (min-width: 835px) {

  .header {
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: flex-start;
    background-size: cover;
    margin-top: 200px;
    margin-bottom: 120px;
  }


  
  .title {
    font-size: 30px;
    font-weight: medium;
    text-align: left;
    color: #303030;
    margin-left: 30px;
}
#emphasize {
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#non-emph {
  font-weight: normal;
}

  .topnav {
    display: none;
  }

  .topnavdesktop {
    margin: 20px;
    position: fixed;
    width: 95vw;

  }
  .linksdesktop {
  display: flex;
  justify-content: space-between;
  }


.sidemenu {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      position: fixed;
      z-index: 3;
      margin-left: 20px;
      margin-top: 40px;
    }

  .desktop {  
  display: 	flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: baseline;
  width: 80%;
}

  .content   {
    display: flex;
    flex-direction: column;
    width: 60%;
    
  }


  .subtitle {
    margin-bottom: 90px;
    font-size: 40px;
    margin-top: 200px;
  }
iframe {
  margin-left: 20px;
  width: 560px;
  height: 315px:
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 65%);
  grid-template-rows: repeat(2, 20vh);
  grid-gap: 50px; 
  margin-top: 100px;
  margin-bottom: 40px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block; 

}
figcaption {
  margin-top: 10px;
  text-align: center;
}
.gallery2 {
  display: grid;
  grid-template-columns: repeat(2, 65%);
  grid-template-rows: repeat(1, 30vw);
  grid-gap: 10px; 
  margin-top: 100px;
  margin-bottom: 0px;
}


.gallery__img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 

}
}
 
/* 
  PENDING: 
  STYLE HAMBURGER MENU WHEN .desktop
   */




