
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 35px;
 }

 footer {

  margin-top: 100px;


}



 .tech {
    display: flex;
    justify-content: space-around;
    margin: 40px;
    }
    .tech img {
    height: 10%;
    width: 20%;
    }

    .content video {
        width: 90vw;
    }
    



.topnavdesktop {
    
    width: 100%;
    
  }
  
  .topnavdesktop ul {
    padding-right: 5px;
  }
  
  .topnavdesktop li {
    margin-left: 35px;
  }

.nav-pills > a.active {
    background-color: #003791 !important;
    color: #ffffff !important;
    border-radius: 0px;

  }

  .nav-pills a{
      color: #304F6D;
  }
  
  .nav-pills > a:hover {
    color: #ffffff !important;
  }
  
  .nav-link {
    color: #fafafa;
  }                                     

#v-pills-tab {
    z-index: 1;

}


.nav-pills {

    background-color: #fafafa;
}

.content {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




.navpills {
    border-color: teal;
    background-color: #081018;
    width: 100%;
}

#v-pills-tab-mobile {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}


body {
  background-color: #003791;

}


.coverwrap img {
  width: 100%;
  height: auto;
  min-height: 150px;
  margin-top: 60px;
  z-index: 2;
}




p {
  font-family: Montserrat;
  font-size: 20px;
  z-index: 5;
  color: #fafafa;
  text-align: justify;
}




.ps4comments {
    width: 80vw;
}

 li {
    font-size: 15px;
    color: #fafafa;
    font-family: montserrat;
    } 
    
    
    ul {
      margin-top: 20px;
    }
    
    li {
      margin: 15px;
      list-style: square;
    }
    
    
 
   #feedback img {
   width: 50%;
   }

   
#prototype video {
  width: 100%;
  height: auto;
}




   
   
   
   .subgoal {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   }
   
  
   .goals img {

    width: 30vw;
   
   }
   
  
   
   .subwireframe {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   width: 100%;
   height: 100%;
   margin-top: 70px;
   }
   
   .subwireframe img {
   height: 30%;
   width: 30%;
   padding-left: 10px;
   padding-right: 10px;
   }
   
   .content2 {

    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content3 {
margin-left: 20px;
margin-right: 20px;
}


}   
   
   
@media screen and (min-width: 500px) {
   
    .tech {
        display: flex;
      justify-content: space-around;
      margin: 40px;
      margin-bottom: 100px;
      }
      .tech img {
      height: 10%;
      width: 10%;
      }
  
    .userpersona {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     margin-bottom: 50px;
   }
   
   .userpersona img {
     width: 30%;
     height: 30%;
     padding-right: 50px;
     display: unset;
   }

    }

    p {
        font-size: 15px;
    }
    
    
   @media screen and (min-width: 940px) {
  
    li {
        font-size: 15px;
        color: #fafafa;
        } 
        
        
        ul {
          margin-top: 20px;
        }
        
        li {
          margin: 15px;
          list-style: square;
        }
        
  
    .covercontext {
       width:40vw;
       padding-right: 70px;
       padding-bottom: 50px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    
    }

    .ps4comments {

        width: 50vw;
    }

.content video {
    width: 50vw;
}

 

    

    .contenttext {
        width: 50vw;
        margin-top: 15px;
    }

    .graphics {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    
    }

    .carousel {
        width: 50vw;
    }

    }

    .content2 {

        margin-left: 20px;
        margin-right: 20px;
    }
.carousel-caption {

bottom: 0;
}

.carousel-caption p {
    font-size: 15px;
}

.card   {
    width: 50%;
    align-items: flex-end;
}

.content3 {
    margin-left: 20px;
    margin-right: 20px;
}

.goalstext {
    display: flex;

}
.test {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;

}

}