* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 35px;
 }

 @font-face {
    font-family: Ailerons;
    src: url(fonts/Ailerons.otf);
   
  }

  @font-face {
    font-family: Din;
    src: url(fonts/din.ttf)
  
   
  }

  @keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

footer {

  margin-top: 100px;


}



.topnavdesktop {
    
    width: 100%;
    
  }
  
  .topnavdesktop ul {
    padding-right: 5px;
  }
  
  .topnavdesktop li {
    margin-left: 35px;
  }

.nav-pills > a.active {
    background-color: #FF4655 !important;
    color: #ffffff !important;
    border-radius: 0px;

  }

  .nav-pills a{
      color: #304F6D;
  }
  
  .nav-pills > a:hover {
    color: #ffffff !important;
  }
  
  .nav-link {
    color: #fafafa;
  }                                     

#v-pills-tab {
    z-index: 1;

}



.content {
    margin-left: 20px;
    margin-right: 20px;
}




.navpills {
    border-color: teal;
    background-color: #081018;
    width: 100%;
}

#v-pills-tab-mobile {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}


body {
  background-color: #0F1923;

}

.userpersona img {
  display: none;
}
.coverwrap img {
  width: 100%;
  height: auto;
  min-height: 150px;
  margin-bottom: 60px;
  margin-top: 60px;
  z-index: 2;
}




p {
  font-family: Din;
  font-size: 20px;
  z-index: 5;
  color: #fafafa;
  text-align: justify;
}


h1 {
    color: #FF4655;
    font-family: Ailerons;
    font-size: 30px;
    line-height: 60px;
   
   }
  
 
   .userpersona img {
   width: 30%;
   height: 30%;
   padding-right: 50px;
   }
   
   
   
   .subgoal {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   }
   
   .goals {
   display: flex;
   flex-direction: row;
   }
   
   .goals img {
   width: 40%;
   height: 60%;
   max-height: 100px;
   margin-bottom: 20px;
   }
   
  
   
   .subwireframe {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   width: 100%;
   height: 100%;
   margin-top: 70px;
   }
   
   .subwireframe img {
   height: 30%;
   width: 30%;
   padding-left: 10px;
   padding-right: 10px;
   }
   
   .content2 {

    margin-left: 20px;
    margin-right: 20px;
}
.content3 {
margin-left: 20px;
margin-right: 20px;
}


}   
   
   
@media screen and (min-width: 500px) {
   
    
  
    .userpersona {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     margin-bottom: 50px;
   }
   
   .userpersona img {
     width: 30%;
     height: 30%;
     padding-right: 50px;
     display: unset;
   }

    }
    
   @media screen and (min-width: 940px) {

  
    .covercontext {
       width:40vw;
       padding-right: 70px;
       padding-bottom: 50px;
    }

    .content {
        display: flex;
        flex-direction: ROW-reverse;
        align-items: center;
        justify-content: center;
    
    }

    .contenttext {
        width: 50vw;
    }

    .contenttext2 {
      width: 80vw;
      margin-bottom: 60px;
    }

    .graphics {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;
    }

    div .carousel img {

        float: left;
        max-height: 400px;
    
    }

    .content2 {

        margin-left: 20px;
        margin-right: 20px;
    }
.carousel-caption {

bottom: 0;
}

.carousel-caption p {
    font-size: 15px;
}

.card   {
    width: 50%;
    align-items: flex-end;
}

.content3 {
    margin-left: 20px;
    margin-right: 20px;
}

.goalstext {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

}

.test img {
  width: 20vw;
}

}
   
  
 
   
     

   
  
   
  
   